body{
    background-color:grey;
}

/* ==================lightbox=========================== */

#cv-lightbox {
    display: inline-block;
    position:relative;
    margin-left : 25%;
}

/* ===================main-advert ==============================*/
.main-advert {
    height: 400px;
    width: 710px;
    position: relative;
}
/* ====================timer ====================================*/
.timer {
    height: 85px;
    width: 185px;
    position: absolute;
    background-color: #ffffff;
    display: block;
    padding: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
    z-index: 1;
    left:25%;
}
.timer .counter{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top:-10px;
    color: #f49e00;
}
/*=================advert =================================*/
.advert {
    z-index: 0;
    position: absolute;
    top: 42.5px;
    display: block;
    width: 550px;
    height: 350px;
    background-color:#7ab51d;
    background-image: url("images/background.png");
    background-repeat: no-repeat;


}
.advert img {
    margin-top:42.5px;
    margin-left:29px;
}
.advert input {
    text-align: center;
    border-radius: 5px;
    margin-left:45px;
    width: 457px;
    height: 43px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #aaaaaa;
    border: none;
}
.advert .offer2{
    margin-left: 133px;
    width: 290px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color:#f49c00;
    color: white;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:bold;
    display: block;
}
.dummytext {
    color: white;
    font-family: Helvetica Neue;
    font-size: 12px;
    margin-left: 52px;
    margin-top:26px
}

.closeAd {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 535px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  color: #A9A9A9;
  padding: 0px;
  font-size: 40px;
}

.closeSymbol{
    margin-top: -8px;
    margin-left: 4px;
}

.closeAd:hover {
    background-color:#b8b8b8;
}

.closeAd:hover .closeSymbol{
    color:blue;
}
